@charset "utf-8";
/* CSS Document */


/**********************************************************************

<○○○○> 업체 시그니처 컬러링

**********************************************************************/

.header .header_inn .center h1 img{height:15px;}

.brandName,
.productName,
.progressStepSum{color:#22d379 !important;}
.progressStepSum,
.waitingSum{color:#22d379 !important;}

/* 인증수단(바) */
.methodOpt_list ul li a::after{background-color:#22d379 !important;}

/* 인증수단(박스) */
.cardOpt_list ul li a.on{border-color:#22d379 !important;}

/* 주소검색(박스) */
.address_row_item a.on{border-color:#22d379 !important;}
.address_row_item a div dl dt .aMark{color:#22d379 !important;background-color:rgba(34,211,121,0.12);}

/* 버튼색상 */
.bt_b50{background-color:#22d379 !important;}
.bt_b50 span{color:#fff !important;}
.bt_b100{background-color:#22d379 !important;}
.bt_b100 span{color:#fff !important;}

/* 로딩색상(loading.css) */
.loading1 p{background-color:#22d379 !important;}


/**********************************************************************

<○○○○> 업체 header 컨트롤

**********************************************************************/

/* header */
.header{display:none !important;}

/* container */
.container .content{padding:0 !important;background-color:RED;}
.container .content.cont_inn{padding:0 20px !important;background-color:GREEN;}

/* scroll_yAuto */
.scroll_yFull{height:calc(100vh) !important;}
.scroll_yAuto{height:calc(100vh - 0px) !important;}
.scroll_yAuto2{height:calc(100vh - 70px) !important;}
.scroll_yAuto3{height:calc(100vh - 90px) !important;}

